<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Carts Guru Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config>
    <type name="Magento\Checkout\Model\GuestShippingInformationManagement">
        <plugin name="cartsguruGuestShippingInformationManagementPlugin" type="Cartsguru\Cartsguru\Plugin\GuestShippingInformationManagement" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="cartsguruShippingInformationManagementPlugin" type="Cartsguru\Cartsguru\Plugin\ShippingInformationManagement" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="cartsguruGuestPaymentInformationManagementPlugin" type="Cartsguru\Cartsguru\Plugin\GuestPaymentInformationManagement" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="cartsguruPaymentInformationManagementPlugin" type="Cartsguru\Cartsguru\Plugin\PaymentInformationManagement" sortOrder="1" />
    </type>
    <type name="\Magento\Sales\Model\OrderRepository">
        <plugin name="cartsguruOrderRepositoryPlugin" type="Cartsguru\Cartsguru\Plugin\OrderRepository" sortOrder="1" />
    </type>
    <type name="\Magento\Checkout\Model\Cart">
        <plugin name="cartsguruAddToCartPlugin" type="Cartsguru\Cartsguru\Plugin\AddToCart" sortOrder="1" />
    </type>
</config>
